name: Test MyTardis MyData App

on: [push, pull_request]

jobs:
  build:

    runs-on: [ubuntu-18.04]
    strategy:
      matrix:
        python-version: [ '3.5', '3.6', '3.7', '3.8' ]
    name: Python ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Run tests
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      run: docker-compose run -e CODECOV_TOKEN test
    - name: Run pylint
      run: docker-compose run test pylint tardis/apps/mydata
